.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  display: grid;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  box-sizing: border-box;
  font-size: 0.7rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 8%);
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rate-continer,
.thankyou-continer {
  background: rgb(37, 45, 55);
  background: linear-gradient(
    7deg,
    rgba(37, 45, 55, 1) 0%,
    rgba(18, 20, 23, 1) 76%
  );
  background: rgb(18, 20, 23);
  background: linear-gradient(
    7deg,
    rgba(18, 20, 23, 1) 12%,
    rgba(37, 45, 55, 1) 80%
  );
  margin: auto;
  padding: 2rem;
  width: 20rem;
  border-radius: 15px;
}
.star-bg {
  background-color: hsl(213, 19%, 18%);
  padding: 0.5rem;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
p {
  color: hsl(216, 12%, 54%);
}
li {
  padding: 0;
  margin: 0;
}
.rate-btn {
  border-radius: 100%;
  padding: 1rem;
  border: none;
  width: 100%;
  font-size: 0.7rem;
  background-color: inherit;
  cursor: inherit;
  color: hsl(216, 12%, 54%);
  color: inherit;
  background-color: hsl(213, 19%, 18%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rate-btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.rate-btn:focus {
  background-color: hsl(217, 12%, 63%);
}
li:focus {
  background-color: hsl(217, 12%, 63%);
}
.submit-button {
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border-radius: 20px;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.6rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.submit-button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.thankyou-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h2 {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  margin-top: 1.3rem;
}
.hidden {
  display: none;
}
